.welcomePhoto {
  position: relative;
  width: 100%;
}

.image {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  opacity: 3;
  transition: .5s ease;
}

.middle {
  transition: .5s ease;
  bottom: 0; 
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.welcomePhoto:hover .image {
  opacity: 1;
}

.welcomePhoto:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}