.profile {
  margin-top: 2%;
  font-family: 'Raleway';
}

.light-theme {
  border-right: 1px solid #FEFEFE;
}

.dark-theme {
  border-right: 1px solid gray;
}

.card {
  border: 1px solid darkorange
}

.li {
  color: #363537;
}

.da {
  color: #363537;
}